# OS
*.directory
*.DS_Store

# IDE and Editors
/.idea/
*.iml

/.vs/
/.vscode/

# library
/node_modules/

# Prod build
/build/
/temp/
/docs/

# Environment
.env
.env.development
/src/ts/index.dev.ts

# Temp files
*.diff
