@import './vendor/reset.styl';
@import './vendor/mixins.styl';

@import './modules/typography.styl';
@import './modules/theme.styl';

// @import './partials/**.styl';

@import './partials/navigation.styl';
@import './partials/kiosks.styl';
@import './partials/components.styl';
@import './partials/calendar.styl';