base-primary = #12a19a
base-text = #3c3c3c
secondary = #f39200
secondary-text = #a6a6a6
bg-color = #f1f1f1
base-border-color = #D0D0D1

body
	background-color bg-color
	color base-text
	font 16px / 24px "Ubuntu-regular", "Arial", Sans-serif

button, input
	&:active, &:focus
		outline none
		border 0

	&::-moz-focus-inner
		border 0

.button
	cursor pointer
	font 16px / 40px "Ubuntu-Regular"
	text-align center
	padding 2px 10px
	box-sizing border-box
	border 1px solid #ddd
	background-color lighten(#FFE793, 50%)
	border-radius 8px

	&.white
		background-color #fff
		border-radius 7px

	&.mint
		font-size 16px
		color white
		background-color base-primary
		border-radius 20px

	&.dark-grey
		font-size 16px
		color white
		background-color base-text
		border-radius 20px
		width 128px
		height 40px

.pointer
	cursor pointer

	.link:after
		display block
		content " "
		width 20%
		height 1px
		background none

	&:hover
		&:after
			// background-color: $base-primary

.username
	width 150px
	height 10px

	.grad
		margin-top 2px

	&:hover
		> .grad
			background linear-gradient(to right, #12A19A 40%, transparent)
			height 1px
			width 150px
