.container
	max-width 75%
	margin 0 auto
	background #fff
	border-radius 8px
	margin-top 15px
	padding 10px

.btn-back
	position absolute
	background-color #fff
	color black
	font-size 16px
	padding 12px 30px
	border none
	cursor pointer
	border-radius 5px
	text-align center
	margin-left 30px
	margin-top 15px
	border 1px solid #C1C0C0

.btn-back:hover
	background-color #C1C0C0
	color #403C3C
	outline 1px solid #fff
