.kiosks
	&-list-items, &-list-header
		display flex
		align-items center
		justify-content space-between
		border-bottom 1px solid #DDDDDD
		padding 3px 0
		cursor pointer
		div
			width 200px

			&:last-child
				width 300px

	&-list-items
		&:hover
			background #DDDDDD
	&-list-header
		font-weight bold
		background-color #C1C0C0
