.navigation
	display flex
	justify-content flex-start
	background #ddd

	div
		width 200px
		padding 1em
		display block
		color #020202
		border-right 1px solid #a7a6a6
		background #c1c0c0

		&:hover
			background #9e9d9d
a
	text-decoration none
	color #282c34